html, body, h1, h2, h3, h4, h5 { 
  font-family: "Open Sans", sans-serif; 
}

a { 
  text-decoration: none; 
}

.active { 
  background-color: #607d8b !important; /* w3-theme-d1 */
  color: white !important; 
}
